@tailwind base;
@tailwind components;
@tailwind utilities;

html{
	background-color: black;
}

.dropdownmenu li {
	float: left;
	position: relative;
	width:auto;
}

.dropdownmenu a {
	color: #FFFFFF;
	display: block;
	padding: 10px 50px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
	font-size: 1.2rem; 
}

.dropdownmenu a:hover {
	color: #eefb03;
}

#submenu {
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
	transition: transform 0.3s ease;
}

li:hover ul#submenu {
	opacity: 1;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
	transform: translatey(10px);
}

#submenu li {
	float: none;
	width: 100%;
}

#submenu a {
	background-color:#000000;
	border: 1px white solid;
}

.cerrar {
	color: #ff0000;
}

.personita {
	position: absolute;
	margin-top: 0.5rem;
	margin-left: -1rem;
	height: 15px;
	width: 15px;
}

.dropdownmenu{
	position: absolute;
    top: 8%;
    left: 57%;
    transform: translate(-50%, -50%);
}

h1{
    color: white;
    text-decoration: none;
}

.voar{
	text-decoration: none;
	float: left;
	position: absolute;
    top: 8%;
    left: 23%;
    transform: translate(-50%, -50%);
	font-size: 2rem;
  color: white;
}

.logo{
	float: left;
	position: absolute;
    top: 8%;
    left: 7%;
    transform: translate(-50%, -50%);
}

.amarillo {
	color: #eefb03;
	text-decoration: underline #eefb03;
}

.submenu {
	color: white;
	text-decoration: underline black;	
}

.carrito {
	float: right;
	position: absolute;
    top: 8%;
    left: 87%;
    transform: translate(-50%, -50%);
}

.raya {
    background-color: #eefb03;
    border: none;
    height: 0.125rem;
    margin-top: 0.5rem;
}
